.about_header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 60px;
    .header_logo {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .header_title {
        font-weight: 400;
        font-size: 36px;
    }
    .nav_info {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav_lang {
            text-transform: uppercase;
            color: #b3b3ba;
            font-weight: 700;
            letter-spacing: 0.08em;
            text-align: center;
            margin-right: 7px;
            padding: 5px 7px;
            transition: all ease 0.3s;
            &:hover {
                background-color: #f0145a;
                color: #fff;
                border-radius: 8px;
            }
        }
        .nav_location {
            font-weight: 400;
            font-size: 16px;
            color: #b3b3ba;
            margin-right: 18px;
            &:hover {
                @include default-hover;
            }
        }
        .nav_tel {
            color: #b3b3ba;
            font-weight: 700;
            margin-right: 18px;
            &:hover {
                @include default-hover;
            }
        }
    }
    .nav_list {
        display: flex;
        gap: 15px;
        justify-content: flex-end;
        .list_link {
            font-weight: 700;
            font-size: 16px;
            color: #24a3ff;
            transition: all ease 0.4s;
            &:hover {
                color: #f0145a;
                text-decoration: underline;
            }
        }
    }
}
.company_wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    gap: 64px;
    .company_block-info {
        max-width: 662px;
    }
}

.company_title {
    font-weight: 700;
    font-size: 38px;
    background: linear-gradient(298deg, #ef8080 0%, #f0145a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.company_subtitle {
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
    color: #000;
    margin-top: 28px;
}

.company_block-stats {
    position: relative;
    &::before {
        content: "";
        display: block;
        height: 322px;
        width: 4px;
        background-color: #e6e6f0;
        position: absolute;
        top: 0;
        left: -30px;
    }
    @media (max-width: 793px) {
        &::before {
            content: "";
            display: block;
            height: 322px;
            width: 4px;
            background-color: #e6e6f0;
            position: absolute;
            top: 0;
            left: 5px;
        }
    }
}

.stats_title {
    font-weight: 700;
    font-size: 38px;
    background: linear-gradient(298deg, #ef8080 0%, #f0145a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 10px;
}
.stats_subtitle {
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
    color: #000;
    margin-bottom: 40px;
}

.width {
    max-width: 662px;
    margin: 0;
}

.subtitle_add {
    display: block;
    margin-top: 28px;
}

.company_team {
    position: relative;
    margin: 60px 0;
    .company_team-img {
        width: 100%;
        display: block;
    }
}

.company_team-title {
    font-weight: 700;
    font-size: clamp(36px, 6vw, 96px);
    letter-spacing: 0.66em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.achievements {
    margin-top: 60px;
    padding-top: 30px;
    .achievements_title {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        text-align: center;
        color: #323264;
        margin-bottom: 30px;
    }
}

.achievements_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    @media (max-width: 769px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 350px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .achievements_card-item {
        background-color: #fff;
        padding: 25px 0;
        border-radius: 12px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 793px) {
    .company_wrapper {
        flex-direction: column;
        .company_block-stats {
            padding-left: 50px;
        }
    }
}
